<div class="container">
<footer class="footer">
<small>
	Copyright &copy; <a href="https://lakehub.co.ke">LakeHub</a>
	by<a href="https://www.streetwise.com">Street Wise Hustler</a>
	</small>

	<nav>
	<ul>
	<li><%= link_to "About", welcome_about_path %></li>
	</ul>
	</nav>
	</footer>
	</div>
